<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Steven Hankins Photography</title>
    <link rel="stylesheet" href="stylesheets/base.css" />
  </head>
  <body>

    <img src="images/PhotoLogo2.jpg" alt="Logo" width="300" height="136">

    <figure>
      <img src="images/01.jpg" alt="Headshots" width="300" height="450">
      <img src="images/02.jpg" alt="Headshots" width="300" height="450">
    </figure>

    <footer>
      <p>Copyright 2016 Steven Hankins Photography</p>
      <p>
        Contact information: <a href="mailto:smhankins@gmail.com">Email me</a>.
      </p>
    </footer>

  </body>
</html>
