<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Steven Hankins Photography</title>
    <link rel="stylesheet" href="stylesheets/base.css" />
  </head>
  <body>

    <img src="images/PhotoLogo2.jpg" alt="Logo" width="300" height="136">

    <figure>
      <div>
        <img src="images/01.jpg" alt="Headshots" width="300" height="450" />
        <img src="images/02.jpg" alt="Headshots" width="300" height="450" />
        <img src="images/03.jpg" alt="Headshots" width="300" height="450" />
      </div>
      <div>
        <img src="images/05.jpg" alt="Headshots" width="300" height="450" />
        <img src="images/06.jpg" alt="Headshots" width="300" height="450" />
        <img src="images/04.jpg" alt="Headshots" width="300" height="450" />
      </div>
    </figure>

    <footer>
      <a href="https://www.instagram.com/stevenhankinsphotography/"><img src="images/instagram.png" alt="Instagram" width="42" height="43" /></a>
      <p>Contact me for rates: <a href="mailto:smhankins@gmail.com">smhankins@gmail.com</a> or (323) 493-2552</p>
      <p>©2016 Steven Hankins Photography</p>
    </footer>

  </body>
</html>
